@charset "UTF-8";
/* CSS Document */
#footer 
{
	width      : auto;
	height     : 150px;
}

#work-space 
{
	/*min-height : 300px;*/
}

.cursorPointer{
	cursor: pointer;
}

.cursor{
	cursor: pointer;
}

.consultar{
	margin-left: 100px;
}

.buscar{
	width: 140px;
	height: 35px;
	border: 1px double;
	border-radius: 5px 5px 5px 5px;
	border-color: gray;
	color: rgb(83, 81, 81);
	background: white url("../img/icons/lupa.png") left no-repeat;
	padding-left: 20px;	
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	}
	
}
.alerta 
{
	overflow : hidden;
	display  : none; 
	z-index  : 1000 !important;  
	position : fixed;
	top      : 20%; 
	width    : 100%;
}
.centerDiv
{
	overflow  : hidden;
	margin    : 0 auto;
	width     : 25% !important;
	min-width : 15%;
	max-width : 25%; 
}
.wipt
{
	width : 195px !important; 
	margin-right: 10px;
	display: inline;
	float: left;
}

.lbl
{
	float    : left;
	margin   : 5px 10px 0 10px;
	overflow : hidden;
}
.ohw
{
	overflow: hidden;
}

.floh
{
	overflow : hidden;
	float    : left;
}
.td
{
    float    : left;
    overflow : hidden;
}
.tr
{
	overflow : hidden;
	clear    : both;
}
.menuUR
{
	border : solid 1px;
	margin : 0 auto;
	width  : 50%;  
	/*height : 40px;  */
}
.menuUR .item
{
	width          : 33.3%;
	text-align     : center;
	padding-top    : 8px;
	padding-bottom : 10px;
}
.menuUR .item:hover
{
	background-color: rgba(0, 0, 0, 0.1);
}
.menu2op
{
	width      : 20%;
	margin     : 0 auto;	
	border     : solid 1px;
	margin-top : 20px;
}
.menu2op .item
{
	text-align     : center;
	padding-top    : 8px;
	padding-bottom : 10px;
}
.menu2op .item:hover
{
	background-color: rgba(0, 0, 0, 0.1);
}
.ui-dialog-titlebar-close{
	background: url('resources/js/general/jtable/themes/metro/close.png.) !important;
}
tr.whH:hover{
	background-color:#F5F5F5;
}
